body {
  background-color: rgb(237, 237, 237);
  font-family: "Plus Jakarta Sans";
  height: fit-content;
  width: 20rem;
}

.card {
  opacity: 100%;
}

#title {
  font-weight: 800;
  font-size: 20px;
}
#description {
  opacity: 60%;
}

.card {
  --bs-card-border-color: transparent;
}

.btn {
  --bs-btn-font-size: 12px;
  --bs-btn-border-radius: 4rem;
}
.btn-primary {
  --bs-btn-font-weight: 600;
}

.btn-secondary {
  --bs-btn-font-weight: 600;
  --bs-btn-border-radius: 4rem;
  --bs-btn-bg: #fa7e3c;
  --bs-btn-box-shadow: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-bg: #fa5e0a;
}

.niceTitle {
  font-weight: 500;
  color: #000000;
  opacity: 60%;
  font-size: 16px;
}

h1 {
  font-weight: 600;
  font-size: 24px;

  /** TEXT GRADIENT */
  color: #487ae3;
  background-image: -webkit-linear-gradient(
    45deg,
    #487ae3 18%,
    #bf6ce6 31%,
    #f09846 52%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 1rem 0;
}

li {
  padding: 0.25rem;
}

h3,
p {
  margin: 0;
}
